<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>$(HEALTH_BRIDGE_QA_DISPLAY_IDENTITY)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).invocation</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>healthbridgeqa-public-documents</string>
			</array>
		</dict>
	</array>
	<key>HealthBridgeQAICloudContainerIdentifier</key>
	<string>$(HEALTH_BRIDGE_QA_ICLOUD_CONTAINER_IDENTIFIER)</string>
	<key>HealthBridgeQAKeychainService</key>
	<string>$(HEALTH_BRIDGE_QA_KEYCHAIN_SERVICE)</string>
	<key>HealthBridgeQAOutboxRoot</key>
	<string>$(HEALTH_BRIDGE_QA_OUTBOX_ROOT)</string>
	<key>HealthBridgeQASourceCommit</key>
	<string>$(HEALTH_BRIDGE_SOURCE_COMMIT)</string>
	<key>HealthBridgeQASchemeName</key>
	<string>$(HEALTH_BRIDGE_QA_SCHEME_NAME)</string>
	<key>HealthBridgeQATargetName</key>
	<string>$(HEALTH_BRIDGE_QA_TARGET_NAME)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>The isolated QA app connects only to the explicitly invoked ephemeral QA receiver.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>HEALTH_BRIDGE_PUBLIC_DOCUMENTS_CONTAINER</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>HealthBridge Mailbox Public Documents QA</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
